{% macro render_comment(c, seen, current_user, project, membership, task) %}
    <li {% if seen and c.created > seen.seen and c.user_id != current_user.id %} class="new" {% endif %}
        data-id="{{ c.id }}"
        data-url="{{ url_for('.task_comment', project_id=project.id, task_id=task.id, comment_id=c.id) }}">
        <div class="body">
            {{ c.body|markdown }}
        </div>
        {% if c.image %}
            <div class="image">
                <img src="{{ c.image.url }}" width="{{ c.image.width }}" height="{{ c.image.height }}">
            </div>
        {% endif %}
        <div class="meta">
            {{ c.created|humantime }} — {{ c.user.name }}
            {% if membership.can('comment.edit', c) %}<a href="#modal-comment-edit" data-toggle="modal" class="action-edit" title="Редактировать"><i class="fa fa-edit"></i></a>{% endif %}
        </div>
    </li>
{% endmacro %}

{%- macro member_link(project, user) -%}
    <a href="{{ url_for('.member', project_id=project.id, member_id=user.id) }}" class="user">{{ user.name }}</a>
{%- endmacro -%}
