{% macro render_comment(c, seen, current_user, project, membership, task) %}
    <li {% if seen and c.created > seen.seen and c.user_id != current_user.id %} class="new" {% endif %}
        data-id="{{ c.id }}"
        data-url="{{ url_for('.task_comment', project_id=project.id, task_id=task.id, comment_id=c.id) }}">
        <div class="body">
            {{ c.body|markdown }}
        </div>
        <div class="meta">
            {{ c.created|humantime }} — {{ c.user.name }}
            {% if membership.can('comment.edit', c) %}<a href="#modal-comment-edit" data-toggle="modal" class="action-edit" title="Редактировать"><i class="fa fa-edit"></i></a>{% endif %}
        </div>
    </li>
{% endmacro %}

{% macro status_bar(stats) %}
    {% if 'total' not in stats %}
        {% set _ = stats.update({'total': stats.values()|sum}) %}
    {% endif %}

    <div class="progress">
        {% for status in g.Task.STATUSES if status in stats %}
            <div
                    class="progress-bar {{ status | status_class }}"
                    style="width: {{ (stats[status] / stats['total'] * 100) | round(3) }}%"
                    title="{{ status|status_rus }}: {{ stats[status] }} ({{ (stats[status] / stats['total'] * 100) | round | int }}%)"
                    ></div>
        {% endfor %}
    </div>
{% endmacro %}

{%- macro member_link(project, user) -%}
    <a href="{{ url_for('.member', project_id=project.id, member_id=user.id) }}" class="user">{{ user.name }}</a>
{%- endmacro -%}
