<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Leave Me Alone</title>
    <link rel="stylesheet" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common.css">
    <script type="text/javascript" src="http://yastatic.net/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {% block logo %}
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LMA</a>
        </div>
        {% endblock %}

        {% block menu_main %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/projects/">Проекты</a></li>
        </ul>
        {% endblock %}

        {% if current_user.is_authenticated() %}
            <p class="navbar-text pull-right">
                Привет, {{ current_user.name }}!
                <a href="/users/logout/?next={{ request.url }}">Выйти</a>
            </p>
        {% else %}
            <form method="post" action="/users/login/?next={{ request.url }}" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="email" placeholder="E-mail" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Пароль" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Войти</button>
                <a href="/users/register/?next={{ request.url }}">Зарегистрироваться</a>
            </form>
        {% endif %}
    </div>
</nav>

<div class="container-fluid">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True, category_filter=['danger', 'success', 'info']) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message[0] }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message[1] }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}{% endblock %}
</div>

{% block tail %}{% endblock %}
</body>
</html>