{% macro render_pagination(pagination, endpoint) %}
<nav>
    <ul class=pagination>
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
                {% endif %}
            {% else %}
                <li><span class=ellipsis>…</span></li>
            {% endif %}
        {%- endfor %}
    </ul>
</nav>
{% endmacro %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Leave Me Alone</title>
    <link rel="stylesheet" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/common.css?2">
    <script type="text/javascript" src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://yastatic.net/jquery/form/3.14/jquery.form.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    {% block head %}{% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        {% block logo %}
        <div class="navbar-header">
            <a class="navbar-brand" href="/">LMA</a>
        </div>
        {% endblock %}

        {% block menu_main %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/projects/">Проекты</a></li>
        </ul>
        {% endblock %}

        {% if current_user.is_authenticated %}
            <div class="navbar-text pull-right dropdown">
                Привет,
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ current_user.name }}!
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/users/settings">Настройки</a></li>
                    <li><a href="/users/logout/?next={{ request.url }}">Выйти</a></li>
                </ul>
            </div>
            <div class="navbar-text pull-right" id="plugin-1"></div>
        {% else %}
            <form method="post" action="/users/login/?next={{ request.url }}" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" name="email" placeholder="E-mail" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Пароль" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Войти</button>
                <a href="/users/register/?next={{ request.url }}">Зарегистрироваться</a>
            </form>
        {% endif %}
    </div>
</nav>

<div class="{{ container_class|default('container-fluid') }}">
    {% with messages = get_flashed_messages(with_categories=True, category_filter=['danger', 'warning', 'success', 'info']) %}
        {% if messages %}
            <div class="container">
            {% for class, message in messages %}
                <div class="alert alert-{{ class }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message|safe }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

{% block tail %}{% endblock %}
<script type="text/javascript" src="/static/plugins/lunch/base.js"></script>
</body>
</html>