{% extends 'base.html' %}

{% set menu = (
    {'id': 'tasks', 'url': url_for('.tasks', project_id=project.id), 'title': 'Задачи'},
    {'id': 'my', 'url': url_for('.member', project_id=project.id, member_id=current_user.id), 'title': 'Мои задачи'},
    {'id': 'members', 'url': url_for('.members', project_id=project.id), 'title': 'Команда'},
    {'id': 'history', 'url': url_for('.history', project_id=project.id), 'title': 'История'},
    {'id': 'edit', 'url': url_for('.project_edit', project_id=project.id), 'title': 'Свойства'},
)
%}

{% block logo %}
<div class="navbar-header">
    <a class="navbar-brand dropdown-toggle" href="/" data-toggle="dropdown">
        LMA: {{ project.name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    {%- for prj in g.my_projects %}
        <li {%- if project and prj.id == project.id %} class="active" {%- endif -%}><a href="{{ prj.url_for() }}">
            {{- prj.name -}}
        </a></li>
    {%- endfor -%}
        <li><a href="/projects">Создать проект</a></li>
    </ul>
</div>
{% endblock %}

{% block menu_main %}
<ul class="nav navbar-nav">
{%- for item in menu %}
    <li {%- if menu_current == item.id %} class="active" {%- endif -%}><a href="{{ item.url }}">{{ item.title }}</a></li>
{%- endfor -%}
</ul>
{% endblock %}