{% extends 'base.html' %}

{%- macro purl_for(endpoint) -%}
    {{ url_for(endpoint, project_id=project.id, **kwargs) }}
{% endmacro %}


{% if current_user.is_authenticated %}
    {% set menu = (
        {'id': 'tasks', 'url': purl_for('.tasks_list'), 'title': 'Задачи'},
        {
            'id': 'my', 'url': purl_for('.member', member_id=current_user.id),
            'title': 'Мои задачи' + tasks_stat(project, current_user) | status_counters(['complete', 'canceled'])
        },
        {'id': 'about', 'url': purl_for('.about'), 'title': 'О проекте'},
        {'id': 'history', 'url': purl_for('.history'), 'title': 'История'},
    )
    %}
{% else %}
    {% set menu = (
        {'id': 'tasks', 'url': purl_for('.tasks_list'), 'title': 'Задачи'},
        {'id': 'bugs', 'url': purl_for('.bugs'), 'title': 'Баги'},
        {'id': 'about', 'url': purl_for('.about'), 'title': 'О проекте'},
        {'id': 'history', 'url': purl_for('.history'), 'title': 'История'},
    )
    %}
{% endif %}

{% block logo %}
        {% if current_user.is_authenticated %}
            {% macro menu_project_li(prj, project) %}
                <li>
                    <a href="{{ url_for('projects.tasks_list', project_id=prj.id) }}" class="dropdown-item {%- if prj.id == project.id %} active {%- endif -%}">
                    {{- prj.name -}}
                    </a>
                </li>
            {% endmacro %}

            <a class="navbar-brand dropdown-toggle" href="{{ url_for('front.index') }}" data-bs-toggle="dropdown">
                LMA: {{ project.name }}
                <span class="caret"></span>
            </a>

            {% with pmenu = projects_menu(current_user) %}
                <ul class="dropdown-menu menu-projects">
                    {% if pmenu|length == 1 %}
                        {% for prj in pmenu.popitem()[1] %}
                            {{ menu_project_li(prj, project) }}
                        {% endfor %}
                    {% else %}
                        {%- for folder, projects in pmenu.items() %}
                            <li class="folder">{{ folder.name|default('Основные') }}</li>
                            {% for prj in projects %}
                                {{ menu_project_li(prj, project) }}
                            {% endfor %}
                        {%- endfor -%}
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="/projects" title="Центр Управления Проектами" class="dropdown-item"><i class="fa fa-rocket"></i> ЦУП</a></li>
                </ul>
            {% endwith %}
        {% else %}
            <a href="{{ url_for('front.index') }}" class="navbar-brand">LMA:</a>
            <a href="{{ purl_for('.about') }}" class="navbar-brand">{{ project.name }}</a>
        {% endif %}
{% endblock %}

{% block menu_main %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {%- for item in menu %}
        <li class="nav-item"><a href="{{ item.url }}" class="nav-link {% if menu_current == item.id %} active {% endif %}>">{{ item.title }}</a></li>
    {%- endfor -%}
    </ul>
{% endblock %}