alembic
psycopg2
flask
flask-sqlalchemy
flask-wtf
flask-login>=0.3.0
markdown
pytz
flask-mail
bleach
sqlparse
flask-script
# sqlparse
ansicolors
git+https://github.com/uisky/flask-sa-logger
email_validator

Pillow
git+https://github.com/Alt90/lagring.git
