<form method="post" action="{{ url_for('users.login', next=request.url) }}" class="col-md-6">
    <div class="mb-3">
        <label class="form-label">Ваш e-mail:</label>
        <input type="text" name="email" placeholder="E-mail" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль:</label>
        <input type="password" name="password" placeholder="Пароль" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="{{ url_for('users.register', next=request.url) }}" class="btn btn-info">Зарегистрироваться</a>
    <a href="{{ url_for('users.sclerosis', next=request.url) }}" class="btn btn-secondary">Забыли пароль?</a>
</form>
