{% extends 'base.html' %}

{% set container_class = 'container' %}

{% block content %}
    <h1>Сбросить пароль</h1>

    <p>Привет, {{ user.name }}! Придумайте новый пароль и больше его не забывайте. Введите его сюда два раза:</p>

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Раз:</label>
            <input type="password" name="pass" class="form-control" autofocus>
        </div>

        <div class="mb-3">
            <label class="control-label">Два:</label>
            <input type="password" name="pass-check" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Готово</button>
    </form>
{% endblock %}