{% from '_macros.html' import render_comment %}

<h2>Комментарии</h2>

{% if not comments %}
    <div class="alert alert-info comments-empty-message">Комментариев пока нет.</div>
{% endif %}

<ul class="comments" id="comments">
    {% for comment in comments %}
        {{ render_comment(comment, seen, current_user, project, membership, task) }}
    {% endfor %}
</ul>

{% if membership.can('task.comment', task) %}
<h2>Написать комментарий</h2>
<form method="post" action="{{ url_for('.task_comments', project_id=project.id, task_id=task.id) }}" id="form-comment" enctype="multipart/form-data">
    <div class="mb-3">
        <textarea name="body" rows="4" class="form-control" id="comments-add-body"></textarea>
        <div class="form-text">Здесь можно использовать Markdown</div>
        <div class="form-text text-danger" id="comments-add-gitwarning" style="display: none">
            Кажется, вы пытаетесь указать ветку GIT. Лучше сделайте это в свойствах задачи: в редакторе или прямо в описании задачи, сверху.
        </div>
    </div>

    <div class="mb-3">
        <label class="label-form">Картиночку приложить:</label>
        <input type="file" name="image" class="form-control" id="comments-add-image">
    </div>
    <button type="submit" class="btn btn-primary" title="Можно просто нажать Ctrl+Enter" id="comments-add-submit">Отправить</button>
</form>
{% endif %}

<form method="post" id="form-comment-edit">
<div class="modal" id="modal-comment-edit"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Редактировать комментарий</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <p>
            <textarea name="body" class="form-control" rows="6" id="comments-body"></textarea>
        </p>
        <p class="form-text">
            Если хотите удалить комментарий — просто сотрите его текст.
        </p>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
    </div>
</div></div></div>
</form>
