{% from '_macros.html' import render_comment %}

<h2>Комментарии</h2>

{% if not comments %}
    <div class="alert alert-info comments-empty-message">Комментариев пока нет.</div>
{% endif %}

<ul class="comments" id="comments">
    {% for comment in comments %}
        {{ render_comment(comment, lastseen, current_user, project, membership, task) }}
    {% endfor %}
</ul>

{% if membership.can('task.comment', task) %}
<h2>Написать комментарий</h2>
<form method="post" action="{{ url_for('.task_comments', project_id=project.id, task_id=task.id) }}" id="form-comment">
    <p><textarea name="body" rows="4" class="form-control"></textarea></p>
    <p class="help-block">Здесь можно использовать Markdown</p>
    <p><button type="submit" class="btn btn-primary" title="Можно просто нажать Ctrl+Enter">Отправить</button></p>
</form>
{% endif %}

<form method="post" id="form-comment-edit">
<div class="modal" id="modal-comment-edit"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Редактировать комментарий</h4>
    </div>
    <div class="modal-body">
        <p>
            <textarea name="body" class="form-control" rows="6"></textarea>
        </p>
        <p class="help-block">
            Если хотите удалить комментарий — просто сотрите его текст.
        </p>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
</div></div></div>
</form>
