<h1>История задачи</h1>
<ul>
{% set prev = None %}
{% for hist in history %}
    <li>
        {{ hist.created.strftime('%d.%m.%Y %H:%M') }}
        {% if prev %}
            <span class="dt">(+{{ (hist.created - prev.created)|humandelta }})</span>
        {% endif %}
        <a href="{{ url_for('.member', project_id=project.id, member_id=hist.user.id) }}" class="user">
            {{- hist.user.name -}}
        </a>
        {{ hist.text() }}
    </li>
    {% set prev = hist %}
{% endfor %}
</ul>
