<form method="post" action="{{ url_for('.member_edit', project_id=project.id, member_id=member.user_id) }}" id='form-edit'>
<div class="modal-header">
    <h5 class="modal-title">{{ member.user.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

{% set role_classes = {'lead': 'danger', 'developer': 'info', 'prm': 'info', 'pjm': 'success', 'qa': 'warning', 'review': 'warning' } %}
<div class="modal-body">
    <div class="form-group">
        <label class="form-label">Роли:</label>
        {% for role, title in ProjectMember.role_meanings.items() %}
            <div class="form-check">
                <input type="checkbox" name="roles" value="{{ role }}" id="role-{{ role }}" {% if role in (member.roles or []) %} checked {% endif %} class="form-check-input">
                <label class="form-check-label" for="role-{{ role }}"><span class="badge bg-{{ role_classes.get(role, 'default') }}">{{ title }}</span></label>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button type="button" class="btn btn-danger action-delete">Выгнать</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
</div>
</form>

<form method="post" action="{{ url_for('.member_delete', project_id=project.id, member_id=member.user_id) }}" id="form-delete"></form>

<script type="text/javascript">
(function() {
    $('#form-edit .action-delete').click(function() {
        if(confirm('Вы это серьёзно, вообще?!')) {
            $('#form-delete').submit();
        }
    });
})();
</script>