{#
    Ожидает увидеть переменные
    WTForm edit_form
    Task edit_task
#}
{% from '_macros.html' import member_link %}

{{ edit_form.csrf_token }}
<input type="hidden" name="parent_id" value="0">

{% if edit_task.id %}
<div class="row mb-3">
    <div class="col">
        <strong>Создал: </strong>
        {{ member_link(project, edit_task.user) }}
        {{ edit_task.created|humantime }}
    </div>

    <div class="col">
        <strong>Статус: </strong>
        {{ edit_task.status|status_label }}
    </div>
</div>
{% endif %}

<div class="mb-3">
    <label class="form-label">Задача</label>
    {{ edit_form.subject(class='form-control') }}
</div>

<div class="mb-3">
    <label class="form-label">Детали</label>
    {{ edit_form.description(class='form-control', rows=8) }}
    <p class="form-text">Здесь можно использовать Markdown</p>
</div>

<div class="mb-3">
    <label class="form-label">Приложить картинку</label>
    {% if edit_task.image %}
        <div class="form-check">
            {{ edit_form.image_delete(class='form-check-input') }}
            <label class="form-check-label">Стереть ту, что уже приложена</label>
        </div>
    {% endif %}
    {{ edit_form.image_(class='form-control') }}
</div>

<div class="mb-3">
    <label class="form-label">Теги</label>
    {{ edit_form.tagslist(class='form-control', placeholder='Через запятую') }}
</div>

<div class="row mb-3">
    <div class="col">
        {% set deadline_id = 'deadline-%d' % (edit_task.id or 0) %}
        <label class="form-label">Дедлайн</label>
        <div class='input-group date'>
            {{ edit_form.deadline(class='form-control', id=deadline_id) }}
            <span class="input-group-text">
                <i class="fa fa-remove" id="{{ deadline_id }}-clear"></i>
            </span>
        </div>
        <script type="text/javascript">
            $('#{{ deadline_id }}').datetimepicker({
                'sideBySide': true,
                'showTodayButton': true,
                'stepping': 10,
                'locale': 'ru',
                    icons: {
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right'
                }
            });
            $('#{{ deadline_id }}-clear').click(function(e) { $('#{{ deadline_id }}').val(''); });
        </script>
    </div>
    <div class="col">
        <label class="form-label">Исполнитель</label>
        <select name="assigned_id" class="form-select">
            <option value="">Никто</option>
            {% for member in project.members_users() %}
                <option value="{{ member.user_id }}" {% if member.user_id == edit_task.assigned_id %} selected {% endif %}>
                    {{ member.user.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Характер</label>
        {{ edit_form.character(class='form-control') }}
    </div>
    <div class="col">
        <label class="form-label">Важность</label>
        {{ edit_form.importance(class='form-select') }}
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label class="form-label">Эстимейт</label>
        <span class="input-group">
            {{ edit_form.estimate(class='form-control', placeholder="Можно десятичные дроби, 1 час = 0.1 дня") }}
            <span class="input-group-text">дней</span>
        </span>
    </div>
    <div class="col">
        <label class="form-label">Ветка GIT</label>
        <span class="input-group">
            {{ edit_form.git_branch(class='form-control') }}
            <span class="input-group-text">дней</span>
        </span>
    </div>
</div>

{% if not edit_task.id %}
<div class="row mb-3">
    <div class="col">
        <label class="form-label">Начальный статус</label>
        {{ edit_form.status(class='form-select') }}
    </div>
</div>
{% endif %}
