{#
    Ожидает увидеть переменные
    WTForm edit_form
    Task edit_task
#}

{{ edit_form.csrf_token }}
<input type="hidden" name="parent_id" value="0">

{% if edit_task.id %}
<div class="form-group">
    <label class="control-label col-sm-1">Создал</label>
    <div class="col-sm-5">
        <p class="form-control-static">
            {{ member_link(project, edit_task.user) }}
        </p>
    </div>
    <label class="control-label col-sm-2">Статус</label>
    <div class="col-sm-4">
        <p class="form-control-static">
            {{ edit_task.status|status_label }}
        </p>
    </div>
</div>
{% endif %}

<div class="form-group">
    <label class="control-label col-sm-1">Задача</label>
    <div class="col-sm-11">
        {{ edit_form.subject(class='form-control') }}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1">Детали</label>
    <div class="col-sm-11">
        {{ edit_form.description(class='form-control', rows=8) }}
        <p class="help-block">Здесь можно использовать Markdown</p>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1">Дедлайн</label>
    <div class="col-sm-5">
        <div class='input-group date'>
            {% set deadline_id = 'deadline-%d' % (edit_task.id or 0) %}
            {{ edit_form.deadline(class='form-control', id=deadline_id) }}
            <span class="input-group-addon">
                <span class="fa fa-remove" id="{{ deadline_id }}-clear"></span>
            </span>
        </div>
        <script type="text/javascript">
            $('#{{ deadline_id }}').datetimepicker({
                'sideBySide': true,
                'showTodayButton': true,
                'stepping': 10,
                'locale': 'ru'
            });
            $('#{{ deadline_id }}-clear').click(function(e) { $('#{{ deadline_id }}').val(''); });
        </script>
    </div>
    <label class="control-label col-sm-2">Исполнитель</label>
    <div class="col-sm-4">
        <select name="assigned_id" class="form-control">
            <option value="">Никто</option>
            {% for member in project.members_users() %}
                <option value="{{ member.user_id }}" {% if member.user_id == edit_task.assigned_id %} selected {% endif %}>
                    {{ member.user.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1">Важность</label>
    <div class="col-sm-5">
        {{ edit_form.importance(class='form-control') }}
    </div>
    <label class="control-label col-sm-2">Характер</label>
    <div class="col-sm-4">
        {{ edit_form.character(class='form-control') }}
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-1">Время</label>
    <div class="col-sm-5">
        {{ edit_form.estimate(class='form-control') }}
    </div>
    <div class="col-sm-6">
        <p class="form-static">
            Оценка времени исполнения задачи в днях. Допускаются десятичные дроби.
        </p>
    </div>
</div>