{% set prev_depth = -1 %}
{% for task in tasks %}
    {% if task.depth == prev_depth %}
        {% if loop.index0 > 0 %} </li> {% endif %}
    {% elif task.depth > prev_depth %}
        <ul>
    {% elif task.depth < prev_depth %}
        {{ ('</li></ul>' * (prev_depth - task.depth)) | safe}}
    {% endif %}
    <li data-id="{{ task.id }}" class="{% if task.status %}li-{{ task.status }}{% elif task.children_statuses.get('complete') == 100 %}li-done li-100{% endif %}">
        <div class="task
            {%- if task.id == selected.id %} active {% endif %}
            {%- if task.assigned_id == current_user.id %} my {% endif %}
        ">
        <div class="status">
            {% if task.children_statuses %}
                <small>{{ task.children_statuses['complete'] }}%</small>
            {% else %}
                {{ task.status|status_label|safe }}
            {% endif %}
        </div>

        <div class="deadline {% if task.deadline and task.status in ('open', 'progress', 'pause') and task.deadline < g.now %} late {% endif %}">
            {%- if task.deadline %}{{ task.deadline.strftime('%d.%m') }}{%- endif %}
        </div>

        <div class="users">
            {% if task.assigned_id %}
                <a href="{{ url_for('.member', project_id=project.id, member_id=task.assigned_id) }}" class="user">{{ task.assignee.name }}</a>
            {% endif %}
        </div>

        <div class="subj">
            <a href="?task={{ task.id }}{% if project.has_sprints %}&sprint={{ options.sprint.data }}{% endif %}">{{ task.subject }}</a>
            {#
            <small>
                {{ task.children_statuses }} : <b>{{ task.status }}</b>
            </small>
            #}
            {{ task.importance|importance_icon|safe }}
            {{ task.character|character_icon|safe }}
        </div>
        </div>
    {% set prev_depth = task.depth %}
{% endfor %}
{{ ('</li></ul>' * tasks[-1].depth) | safe }}
<p style="margin: 10px 0">
    <a href="?sprint={{ options.sprint.data }}" class="btn btn-warning btn-xs">Поставить задачу в корень</a>
</p>
