{% extends 'project.html' %}
{% set container_class = 'container' %}
{% set menu_current = 'about' %}


{% block head %}
<style type="text/css">
    .table-members td, .table-members th { white-space: nowrap; }
    .table-members td.name { width: 100%; white-space: normal; }
    .table-members td.karma-col, .table-members th.karma-col { background: #e0e0e0; text-align: center; border-bottom-color: #aaa; }
    .table-members td.karma-col { padding: 0; }
    .table-members td.karma-col a { text-decoration: none; display: block; padding: 8px; }
    .table-members td.karma-col a:hover { text-decoration: underline; }
    .table-members .status-cnt { min-width: 36px; }
</style>
{% endblock %}

{% block content %}

<h1 class="text-center">{{ project.name }}</h1>
<p class="text-center">
    Создал <a href="{{ url_for('.member', project_id=project.id, member_id=project.user_id) }}">{{ project.owner.name }}</a>
    {{ project.created|humantime }} ({{ project.age.days }} {{ project.age.days|plural('день', 'дня', 'дней') }} тому назад).
</p>

{% if membership.can('edit') or membership.can('members') %}
    <p class="text-center">
        {% if membership.can('edit') %}
            <a href="{{ url_for('.project_edit', project_id=project.id) }}" class="btn btn-primary btn-sm">
                <i class="fa fa-edit"></i> Редактировать свойства проекта
            </a>
        {% endif %}
        {% if membership.can('members') %}
            <a href="#modal-add" class="btn btn-success btn-sm" data-toggle="modal">
                <i class="fa fa-plus-circle"></i> Добавить участников
            </a>
        {% endif %}
    </p>
{% endif %}

{% if project.intro %}
    <div class="peoject-about">
        {{ project.intro|markdown }}
    </div>
{% endif %}


<h2>Команда</h2>
<table class="table table-bordered table-hover table-members" id="simposium">
    <thead>
    <tr>
        <th></th>
        <th>Добавлен</th>
        <th>Роли</th>
        <th>Участник</th>
        <th colspan="6">Задачи</th>
        <th class="karma-col">
            Карма
            <a href="#modal-help-karma" data-toggle="modal" title="WTF is karma?"><i class="fa fa-question-circle"></i></a>
        </th>
        {% if membership.can('members') %}<th></th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% set role_classes = {'lead': 'warning', 'developer': 'info', 'tester': 'success' } %}
    {% for member in members %}
    <tr
            data-id="{{ member.user_id }}"
            data-edit-url="{{ url_for('.member_edit', project_id=member.project_id, member_id=member.user_id) }}"
            >
        <td>{{ loop.index }}</td>
        <td>{{ member.added.strftime('%d.%m.%Y %H:%M') }}</td>
        <td>
            {% for role in member.roles or [] %}
                <span class="label label-{{ role_classes.get(role, 'default') }}">
                    {{ ProjectMember.role_meanings.get(role, role) }}
                </span>
                &nbsp;
            {% endfor %}
        </td>
        <td class="name">
            <a href="{{ url_for('.member', project_id=project.id, member_id=member.user_id) }}">{{ member.user.name }}</a>
        </td>
            {% if stat[member.user_id] %}
                {% for status in ('open', 'progress', 'pause', 'review', 'done', 'canceled') %}
                    {% set count = stat[member.user_id].get(status, 0) %}
                    <td class="status-cnt">
                    {% if count %}
                        <span class="label {{ status|status_class }}" title="{{ status|status_rus }}">{{ count }}</span>
                    {% endif %}
                    </td>
                {% endfor %}
            {% else %}
                {{ ('<td></td>' * 6) | safe }}
            {% endif %}
        <td class="karma-col">
            <a href="{{ url_for('.karma', project_id=project.id, member_id=member.user_id) }}">{{ member.karma|minus }}</a>
        </td>
        {% if membership.can('members') %}
        <td>
            <a href="#modal-edit" data-toggle="modal" class="action-edit">
                <span class="fa fa-pencil"></span>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


<div class="modal fade" id="modal-help-karma" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Что такое карма?</h4>
</div>
<div class="modal-body">
    <p>
        Правила игры просты. Вождь проекта может ставить остальным участникам аргументированные оценки: -2, -1, 1 или 2.
        Остальные участники могут также аргументированно срать в карму вождю.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>
</div></div></div>
{% endblock %}



{% block tail %}
{% if membership.can('members') %}
    <form method="post" action="{{ url_for('.members_add', project_id=project.id) }}">
    <div class="modal" id="modal-add" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавить участников</h4>
    </div>
    <div class="modal-body">
        <label>E-mail'ы новых пользователей:</label>
        <textarea name="clues" rows="3" class="form-control"></textarea>
        <p class="help-block">Через запятую или по одному на строку. Они должны быть зарегистрированы на leave-me-alone под этими адресами.</p>

        <label>Выдать им роли:</label>
        <p>
        {% for role, title in ProjectMember.role_meanings.items() %}
            <label class="checkbox-inline">
                <input type="checkbox" name="roles" value="{{ role }}">
                {{ title }}
            </label>
        {% endfor %}
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
    </div></div></div>
    </form>

    <div class="modal" id="modal-edit" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
    </div></div></div>

    <script type="text/javascript">
    (function() {
        $('#modal-add').on('shown.bs.modal', function() {
            $(this).find('[name=clues]').focus();
        });

        $('#modal-edit').on('shown.bs.modal', function(e) {
            var $modal = $(this), $inside = $modal.find('.modal-content');
            $inside.html(
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal">&times;</button>' +
                '<h4 class="modal-title">Свойства участника</h4>' +
                '</div>' +
                '<div class="modal-body">' +
                '<p class="text-center"><i class="fa fa-spinner fa-spin fa-5x"></i><br><br>Минуточку...</p>' +
                '</div>'
            );
            $inside.load($(e.relatedTarget).parents('tr').data('edit-url'));
        });
    })();
    </script>
{% endif %}

{% endblock %}