{% extends 'project.html' %}

{% set menu_current = 'history' %}
{% set container_class = 'container' %}


{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
<style type="text/css">
    #form-filter { margin-bottom: 10px; }
    #form-filter .btn-filter-status { opacity: .5; }
    #form-filter .btn-filter-status.active { opacity: 1; }
    #form-filter .datepick { width: 130px; }

    .has-events { background: #9fffa3; }
</style>
{% endblock %}

{% block content %}

<h1>История</h1>

<form id="form-filter" method="get">
    <div class="form-group">
        <div class="col-sm-2">
            <select name="user_id" class="form-control" style="width:150px;" multiple size="8">
                <option value="">Все</option>
                {% for member in project.members %}
                    <option value="{{ member.user_id }}"
                            {% if filters.user_id.data|int == member.user_id %} selected {% endif %}
                    >{{ member.user.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            {{ filters.status() }}
            {% set selected = (filters.status.data or '').split(',') %}
            <div class="list-group">
            {% for st in statuses %}
                <button type="button"
                        class="btn {{ st|status_class }} btn-sm btn-filter-status {% if st in selected %}active{% endif %}"
                        data-status="{{ st }}">
                    {{ st|status_rus }}
                </button><br>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <div id="datetimepicker-when"></div>
            {{ filters.when() }}
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary pull-right">
                Показать
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var stat = {{ stat|tojson }}, $dp = $('#datetimepicker-when'), $formFilter = $('#form-filter'), $fieldWhen = $formFilter.find('[name=when]');

        $formFilter.find('.btn-filter-status').click(function(e) {
            var $this = $(this);
            if($this.hasClass('active')) {
                $this.removeClass('active');
            } else {
                $this.addClass('active');
            }

            var v = [];
            $('#form-filter .btn-filter-status.active').each(function() {
                v.push($(this).data('status'))
            });
            $('#form-filter input[name=status]').val(v.join(','));

            $this.blur();
        });

        function addStat() {
            for(var day in stat) {
                $('.day[data-day="' + day + '"]').addClass('has-events').attr('title', 'Событий: ' + stat[day]);
            }
        }

        $dp.datetimepicker({
            inline: true,
            showTodayButton: true,
            locale: 'ru',
            format: 'YYYY-MM-DD',
            defaultDate: $fieldWhen.val()
        });

        $dp.on('dp.update dp.change', addStat);
        $dp.on('dp.change', function(e) {
            $fieldWhen.val(e.date.format('YYYY-MM-DD'));
            $formFilter.submit();
        });
        addStat();
    });
</script>

{% if not history %}
<div class="alert alert-info">
    Ещё ничего не происходило.
</div>
{% else %}
    <table class="table table-bordered table-list">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Участник</th>
            <th>Действие</th>
            <th class="t">Задача</th>
        </tr>
        </thead>
        {% for row in history.items %}
        <tr>
            <td>{{ row.created.strftime('%d.%m.%Y %H:%M') }}</td>
            <td><a href="{{ url_for('.history', project_id=project.id, user_id=row.user_id) }}">{{ row.user.name }}</a></td>
            <td>{{ row.status|status_label }}</td>
            <td class="t"><a href="{{ url_for('.tasks', project_id=project.id) }}?task={{ row.task_id }}">{{ row.task.subject }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {{ render_pagination(history, '.history', project_id=project.id) }}

{% endif %}

{% endblock %}


{% block tail %}
<script type="text/javascript">
(function() {
})();
</script>
{% endblock %}