{% extends 'base.html' %}

{% block head %}
<style type="text/css">
    ul.project-list { list-style: note; margin: 20px 0; padding: 0; text-align: center; }
    ul.project-list li {
        display: inline-block; margin: 0 20px 20px 0; padding: 20px 40px;
        background-color: #ddeef0; border-radius: 20px;
    }
    ul.project-list li.my {
        box-shadow: inset 0px 0px 0px 6px #ccdde0;
    }
    ul.project-list li a { font-size: 20px; }
</style>
{% endblock %}

{% block content %}
<h1 class="text-center">Мои проекты</h1>

{% if not g.my_projects %}
    <div class="alert alert-box alert-info">
        Вы не состоите ни в одном проекте.
    </div>
{% else %}
    <ul class="project-list">
    {% for project in g.my_projects %}
        <li {%- if project.user_id == current_user.id %} class="my" {%- endif %}>
            <a href="{{ project.url_for() }}">{{ project.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<div class="container">
<form method="post" action="{{ url_for('.project_add') }}">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-sm-10">
            <input type="text" name="name" value="{{ request.form.get('name', '') }}" class="form-control" placeholder="Название">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">
                <span class="fa fa-bolt"></span>
                Создать проект
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-10 text-center">
            <label><input type="radio" name="type" value="list" checked> Список</label>
            <label><input type="radio" name="type" value="tree"> Дерево</label>
        </div>
    </div>
</form>
</div>
{% endblock %}