{% extends 'project.html' %}
{% set menu_current = 'members' %}

{% block head %}
<style type="text/css">
    .karma-list { padding: 0; margin: 40px 0;}
    .karma-list .karma-row { border-bottom: 1px dashed #ccc; margin-bottom: 10px; }
    .karma-list .karma-value { font-size: 30px; text-align: center; }
    .karma-list .karma-info {}
    .karma-list .karma-info .meta { font-size: .8em;}
    .karma-list .karma-info .comment {}
    .karma--2 { color: #f00; }
    .karma--1 { color: #700; }
    .karma-1 { color: #070; }
    .karma-2 { color: #0f0; }
</style>
{% endblock %}


{% block content %}
<h1>
    Карма {{ member.user.name }} в {{ project.name }} =
    <span class="karma-{{ member.karma }}">{{ member.karma|minus }}</span>
</h1>

{% if karma.total == 0 %}
    <div class="alert alert-info">
        {{ member.user.name }} ещё не получал оценок в карму в этом проекте.
    </div>
{% else %}
    <div class="karma-list">
    {% for row in karma.items %}
        <div class="row karma-row">
            <div class="col-sm-1 karma-value karma-{{ row.value }}">{{ row.value }}</div>
            <div class="col-sm-11 karma-info">
                <p class="meta">
                    {{ row.created.strftime('%d.%m.%Y %H:%M') }} — от {{ row.from_user.name }}
                </p>
                <p class="comment">{{ row.comment|nl2br }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% if membership.can('karma.set', member) %}
    <form method="post" class="form-horizontal">
        {{ form.csrf_token() }}
        <div class="col-sm-2">
            {{ form.value(class='form-control') }}
            <i>оценка</i>
        </div>
        <div class="col-sm-9">
            {{ form.comment(class='form-control', rows=4) }}
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </form>
{% endif %}
{% endblock %}


{% block tail %}
<script type="text/javascript">
(function() {
})();
</script>
{% endblock %}