{% set menu_current = 'members' %}

{% extends 'project.html' %}

{% block head %}
<style type="text/css">
    .table-members td, .table-members th { white-space: nowrap; }
    .table-members td.name { width: 100%; white-space: normal; }
    .table-members td.karma-col, th.karma-col { background: #e0e0e0; text-align: center; }
    .table-members td.karma-col a { text-decoration: none; }
    .table-members td.karma-col a:hover { text-decoration: underline; }
</style>
{% endblock %}

{% block content %}
<h1>Команда</h1>

<table class="table table-bordered table-members">
    <thead>
    <tr>
        <th></th>
        <th>Добавлен</th>
        <th>Участник</th>
        <th class="karma-col">
            Карма
            <a href="#modal-help-karma" data-toggle="modal" title="WTF is karma?"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Роли</th>
        {% if project.user_id == current_user.id %}<th></th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% set role_classes = {'lead': 'warning', 'developer': 'info', 'tester': 'success' } %}
    {% for member in members %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ member.added.strftime('%d.%m.%Y %H:%M') }}</td>
        <td class="name">
            <a href="{{ url_for('.member', project_id=project.id, member_id=member.user_id) }}">{{ member.user.name }}</a>
        </td>
        <td class="karma-col">
            <a href="{{ url_for('.karma', project_id=project.id, member_id=member.user_id) }}">{{ member.karma|minus }}</a>
        </td>
        <td>
            {% for role in member.roles %}
                <span class="label label-{{ role_classes.get(role, 'default') }}">
                    {{ g.role_meanings.get(role, role) }}
                </span>
                &nbsp;
            {% endfor %}
        </td>
        {% if project.user_id == current_user.id %}
        <td>
            <a href="?edit={{ member.user_id }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if project.user_id == current_user.id %}
<form method="post">
    {% if editing.user_id %}
        <h2>{{ editing.user.name }}</h2>
    {% else %}
        <h2>Добавить участника</h2>
        <div class="form-group">
            <input type="text" name="user" value="{{ request.form.get('name', '') }}" placeholder="Ник или e-mail пользователя" class="form-control" style="width:500px">
        </div>
    {% endif %}

    <div class="form-group">
        {% for role, title in g.role_meanings.items() %}
            <label class="checkbox-inline">
                <input type="checkbox" name="roles" value="{{ role }}" {% if editing.user_id and role in editing.roles %} checked {% endif %}>
                {{ title }}
            </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">
    {% if editing.user_id %}
        <span class="glyphicon glyphicon-ok"></span> Сохранить
    {% else %}
        <span class="glyphicon glyphicon-plus-sign"></span> Добавить участника
    {% endif %}
    </button>
    {% if editing.user_id %}
        <button id="btn-remove" type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-ban-circle"></span> Выгнать
        </button>

        <a href="{{ url_for('.members', project_id=project.id) }}" class="btn btn-warning">
            <span class="glyphicon glyphicon-remove-sign"></span> Отмена
        </a>
    {% endif %}
</form>

{% if editing.user_id %}
<form id="form-remove" method="post" action="{{ url_for('.member_delete', project_id=project.id) }}">
    <input type="hidden" name="user_id" value="{{ editing.user_id }}">
</form>
<script type="text/javascript">
    $('#btn-remove').click(function() {
        if(!confirm('Вы уверены?')) return;
        $('#form-remove').submit()
    })
</script>
{% endif %}

{% endif %}

<div class="modal fade" id="modal-help-karma" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Что такое карма?</h4>
</div>
<div class="modal-body">
    <p>
        Правила игры просты. Вождь проекта может ставить остальным участникам аргументированные оценки: -2, -1, 1 или 2.
        Остальные участники могут также аргументированно срать в карму вождю.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
</div>
</div></div></div>

{% endblock %}