{% extends 'project.html' %}
{% set container_class = 'container' %}
{% if member.user_id == current_user.id %}
    {% set menu_current = 'my' %}
{% else %}
    {% set menu_current = 'members' %}
{% endif %}


{% block head %}
<style type="text/css">
    .btn.active { font-weight: bold; border: 2px solid black;}
    #form-filter .statuses button { margin: 0 5px 5px 0; }
</style>
{% endblock %}


{% block content %}
<h1>Участие {{ member.user.name }} в {{ project.name }}</h1>

<form id="form-filter" method="get" class="mb-3">
    <div class="row mb-2">
        <div class="col">
            {{ filters.sprint(class='form-select', style='width: 200px') }}
        </div>
        <div class="col text-end">
            <button type="submit" class="btn btn-primary">Показать</button>
        </div>
    </div>
    <div class="row statuses">
        <div class="col">
            {{ filters.status() }}
            {% for st in g.Task.STATUSES %}
                <button type="button"
                        class="btn {{ st|status_class }} btn-sm btn-filter-status {% if st in statuses %}active{% endif %}"
                        data-status="{{ st }}">
                    {{ st|status_rus }}
                </button>
            {% endfor %}
        </div>
    </div>
</form>

{% if not tasks.total %}
    <div class="alert alert-info">
        Задач не обнаружено.
    </div>
{% else %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Поставлено</th>
        <th>Статус</th>
        <th>Доска</th>
        <th>Задача</th>
        <th>Дедлайн</th>
    </tr>
    {% for task in tasks.items %}
    <tr>
        <td>{{ task.created.strftime('%d.%m.%Y %H:%M') }}</td>
        <td>{{ task.status|status_label }}</td>
        <td>
            {% if task.sprint_id %}
                <a href="{{ url_for('.tasks_list', project_id=project.id, sprint_id=task.sprint_id) }}">{{ task.sprint.name }}</a>
            {% else %}
                —
            {% endif %}
        </td>
        <td>
            {{ task.character|character_icon|safe }}
            <a href="{{ url_for('.tasks_list', project_id=project.id, sprint_id=task.sprint_id or 0, task_id=task.id) }}">{{ task.path }}</a>
            {{ task.importance|importance_icon|safe }}
        </td>
        <td {% if task.deadline and task.status not in ('complete', 'canceled') and task.deadline < g.now %} style="color:#f00" {% endif %}>
            {% if task.deadline %}
                {{ task.deadline.strftime('%d.%m.%Y') }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </thead>
</table>

    {{ render_pagination(tasks, '.member',
                         project_id=project.id, member_id=member.user_id,
                         status=filters.status.data, sprint=filters.sprint.data) }}
{% endif %}
{% endblock %}


{% block tail %}
<script type="text/javascript">
(function() {
    $('#form-filter .btn-filter-status').click(function(e) {
        var $this = $(this);
        if($this.hasClass('active')) {
            $this.removeClass('active');
        } else {
            $this.addClass('active');
        }

        var v = [];
        $('#form-filter .btn-filter-status.active').each(function() {
            v.push($(this).data('status'))
        });
        $('#form-filter input[name=status]').val(v.join(','));

        $this.blur();
    });
})();
</script>
{% endblock %}