{% extends 'project.html' %}
{% set container_class = 'container' %}
{% set menu_current = 'about' %}


{% block head %}
<style type="text/css">
    .table-list .handle { padding: 8px; cursor: move; }
</style>
{% endblock %}


{% block content %}
<h1>Вехи проекта</h1>

<ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li><a href="{{ url_for('.project_edit', project_id=project.id) }}">Свойства</a></li>
    <li class="active"><a href="{{ url_for('.sprints', project_id=project.id) }}">Вехи</a></li>
</ul>


{% if sprints %}
    <table class="table table-bordered table-list" id="table-sprints">
    <thead>
    <tr>
        <th></th>
        <th class="t">Название</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for sprint in sprints %}
    <tr
            data-id="{{ sprint.id }}"
            data-url-edit="{{ url_for('.sprint_edit', project_id=project.id, sprint_id=sprint.id) }}"
            data-url-delete="{{ url_for('.sprint_delete', project_id=project.id, sprint_id=sprint.id) }}"
            >
        <td><i class="fa fa-sort handle"></i></td>
        <td class="t"><a href="{{ url_for('.tasks', project_id=project.id, sprint=sprint.id) }}">{{ sprint.name }}</a></td>
        <td>
            <a href="#modal-edit" data-toggle="modal" class="btn btn-xs btn-success action-edit">
                <i class="fa fa-edit"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <div class="alert alert-info">В проекте ещё нет ни одной вехи.</div>
{% endif %}

<a href="#modal-add" data-toggle="modal" class="btn btn-success">
    <i class="glyphicon glyphicon-plus-sign"></i> Добавить веху
</a>

{% endblock %}



{% block tail %}
<form method="post" action="{{ url_for('.sprint_edit', project_id=project.id) }}" id="form-add">
<div class="modal" id="modal-add"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Создать веху</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Название</label>
            <input type="text" name="name" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Создать</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
</div></div></div>
</form>


<form method="post" action="" id="form-edit">
<div class="modal" id="modal-edit"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Свойства вехи</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Название</label>
            <input type="text" name="name" class="form-control">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete">Удалить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    </div>
</div></div></div>
</form>

<form method="post" action="" id="form-delete">
<div class="modal" id="modal-delete"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Удалить веху?</h4>
    </div>
    <div class="modal-body">
        Если в ней были задачи, они останутся доступными, но попадут в раздел "Вне вех".
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Да</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Нет, я передумал</button>
    </div>
</div></div></div>
</form>

<form method="post" action="{{ url_for('.sprints_reorder', project_id=project.id) }}" id="form-reorder"></form>

<script type="text/javascript" src="/static/jquery-sortable-min.js"></script>
<script type="text/javascript" src="https://yastatic.net/jquery/form/3.14/jquery.form.min.js"></script>
<script type="text/javascript">
(function() {
    var $table = $('#table-sprints'), $formReorder = $('#form-reorder');

    $formReorder.ajaxForm({
        beforeSubmit: function() {
            $('#ajax-wait').show();
        },
        complete: function(data) {
            $('#ajax-wait').hide();
        }
    });

    $table.sortable({
        containerSelector: 'table',
        itemPath: '> tbody',
        itemSelector: 'tr',
        placeholder: '<tr class="placeholder"><td>&nbsp;</td><td></td><td></td></tr>',
        handle: 'i.fa-sort',
        delay: 200,
        onDrop: function ($item, container, _super) {
            $formReorder.empty();
            $.each($table.sortable("serialize").get()[0], function(i) {
                $('<input type="hidden">').attr('name', 'sort.' + this.id).val(i).appendTo($formReorder);
            });
            $formReorder.submit();

            _super($item, container);
        }
    });

    $('#modal-edit').on('shown.bs.modal', function(e) {
        var $tr = $(e.relatedTarget).parents('tr'), $modal = $(this);
        $('#form-edit').attr('action', $tr.data('url-edit'));
        $('#form-delete').attr('action', $tr.data('url-delete'));
        $modal.find('[name=name]').val($tr.find('td.t').text()).focus();
    });

    $('#modal-add').on('shown.bs.modal', function(e) {
        $(this).find('[name=name]').focus();
    });

})();
</script>

{% endblock %}