{% set menu_current = 'tasks' %}

{% extends 'project.html' %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/tasks_tree.css">
<script type="text/javascript" src="/static/js.cookie.js"></script>
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
var current_user = {"id": {{ current_user.id}}, "name": "{{ current_user.name }}"};
var project = {"id": {{ project.id }}, "name": "{{ project.name }}"};
</script>
{% endblock %}

{% block content %}
<div class="row">
    {#
     # Панель дерева задач
     #}
    <div class="col-sm-6">
        <form method="get">
        <div class="row show-options">
            <div class="col-sm-2">
                {% if project.type == 'tree' %}
                    <button type="button" class="btn btn-xs" id="btn-toggle-collapsed"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-xs" id="btn-toggle-done"><i class="fa fa-eye"></i></button>
                {% elif project.type == 'list' %}
                    <input type="hidden" name="task" value="{{ request.args.get('task', '') }}">
                    {{ options.sort(class='form-control', onchange='this.form.submit()') }}
                {% endif %}
            </div>
            <div class="col-sm-2">
                {% if project.has_sprints %}
                    {{ options.sprint(class='form-control', onchange='this.form.submit()') }}
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="progress">
                    {% for status in g.TASK_STATUSES if status in stats %}
                        <div
                                class="progress-bar {{ status | status_class }}"
                                style="width: {{ (stats[status] / stats['total'] * 100) | round(3) }}%"
                                title="{{ status | status_rus }}: {{ stats[status] }} ({{ (stats[status] / stats['total'] * 100) | round | int }}%)"
                                ></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2 text-right max-deadline" title="Крайний срок">
                {% if stats['max_deadline'] %}
                    <i class="fa fa-bed"></i> {{ stats.max_deadline.strftime('%d.%m') }}
                {% else %}
                    Без дедлайна
                {% endif %}
            </div>
        </div>
        </form>

        {% if not tasks %}
            <div class="alert alert-box alert-info">
                {% if project.has_sprints %}Спринт{% else %}Проект{% endif %} пуст.
            </div>
        {% else %}
            <div class="tasks-tree show-deadline">
            {% set prev_depth = -1 %}
            {% for task in tasks %}
                {% if task.depth == prev_depth %}
                    {% if loop.index0 > 0 %} </li> {% endif %}
                {% elif task.depth > prev_depth %}
                    <ul>
                {% elif task.depth < prev_depth %}
                    {{ ('</li></ul>' * (prev_depth - task.depth)) | safe}}
                {% endif %}
                <li data-id="{{ task.id }}" class="{% if task.status %}li-{{ task.status }}{% elif task.children_statuses.get('complete') == 100 %}li-done li-100{% endif %}">
                    <div class="task
                        {%- if task.id == selected.id %} active {% endif %}
                        {%- if task.assigned_id == current_user.id %} my {% endif %}
                    ">
                    <div class="status">
                        {% if task.children_statuses %}
                            <small>{{ task.children_statuses['complete'] }}%</small>
                        {% else %}
                            {{ task.status|status_label }}
                        {% endif %}
                    </div>

                    <div class="deadline {% if task.deadline and task.status in ('open', 'progress', 'pause') and task.deadline < g.now %} late {% endif %}">
                        {%- if task.deadline %}{{ task.deadline.strftime('%d.%m') }}{%- endif %}
                    </div>

                    <div class="users">
                        {% if task.assigned_id %}
                            <a href="{{ url_for('.member', project_id=project.id, member_id=task.assigned_id) }}" class="user">{{ task.assignee.name }}</a>
                        {% endif %}
                    </div>

                    <div class="subj">
                        <a href="?task={{ task.id }}{% if project.has_sprints %}&sprint={{ options.sprint.data }}{% endif %}">{{ task.subject }}</a>
                        {#
                        <small>
                            {{ task.children_statuses }} : <b>{{ task.status }}</b>
                        </small>
                        #}
                        {{ task.importance|importance_icon|safe }}
                        {{ task.character|character_icon|safe }}

                        {# Обожаю тебя, жинжа ёбаная! #}
                        {% set new_comments = task.cnt_comments - seen.get(task.id, {'cnt_comments': 0}).cnt_comments %}
                        {% if new_comments %}
                            <span class="cnt-comments">
                                <i class="fa fa-comment"></i>
                                +{{ new_comments }}
                            </span>
                        {% endif %}
                    </div>
                    </div>
                {% set prev_depth = task.depth %}
            {% endfor %}
            {{ ('</li></ul>' * (tasks[-1].depth + 1)) | safe }}
        </div>
        {% endif %}
        {% if membership.can('subtask') %}
        <p style="margin: 10px 0">
            <a href="?sprint={{ options.sprint.data }}" class="btn btn-warning btn-xs">Поставить задачу в корень</a>
        </p>
        {% endif %}
    </div>



    {#
     # Панель задачи
     #}
    <div class="col-sm-6">

        {# Табы #}
        <ul class="nav nav-tabs" id="tabs-task">
            {% if selected %}
                <li class="active"><a href="#task-details" data-toggle="tab">Задача</a></li>
                <li><a href="#task-comments" data-toggle="tab">
                    Комментарии
                    {% if selected.cnt_comments %}({{ selected.cnt_comments }}){% endif %}
                </a></li>
                <li><a href="#task-history" data-toggle="tab">История</a></li>
            {% endif %}
            {% if membership.can('subtask', selected) %}
                <li class="pull-right {% if not selected %} active {% endif %}"><a href="#task-subtask" data-toggle="tab">Создать подзадачу</a></li>
            {% endif %}
            {% if membership.can('edit', selected) %}
                <li class="pull-right"><a href="#task-edit" data-toggle="tab">Редактировать</a></li>
            {% endif %}
        </ul>


        <div class="tab-content">
            {# Описание задачи #}
            {% if selected %}
                <div id="task-details" class="tab-pane active task-details">
                    <h1>{{ selected.subject }}</h1>
                    <p>
                        Поставлена {{ selected.created.strftime('%d.%m.%Y %H:%M') }}
                        {{ selected.user.link|safe }}
                        {% if selected.assigned_id %}
                            &rarr; {{ selected.assignee.link|safe }}
                        {% endif %}
                        {{ selected.status|status_label }}
                        {% if selected.deadline %}
                            <p>
                                Дедлайн:
                                {% if selected.deadline <= g.now %}<span class="deadline late">{% endif %}
                                    {{ selected.deadline.strftime('%d.%m.%Y %H:%M') }}
                                {% if selected.deadline <= g.now %}</span>{% endif %}
                            </p>
                        {% endif %}
                    </p>
                    <div class="description">
                        {{ selected.description|markdown|safe }}
                    </div>

                    <form id="form-setstatus"
                          method="post"
                          action="{{ url_for('.task_status', project_id=project.id, task_id=selected.id) }}">
                        <input type="hidden" name="status">
                        {% for status in selected.allowed_statuses(current_user, membership) %}
                            <button type="button" class="btn {{ status|status_class }} setter" data-status="{{ status }}">
                                {{ status|status_rus }}
                            </button>
                        {% endfor %}
                    </form>
                </div>

                <div id="task-comments" class="tab-pane task-comments"
                     data-url="{{ url_for('.task_comments', project_id=project.id, task_id=selected.id) }}">
                </div>

                {# История #}
                <div id="task-history" class="tab-pane">
                    <h1>История задачи</h1>
                    <ul>
                        <li>
                            {{ selected.created.strftime('%d.%m.%Y %H:%M') }}
                            {{ selected.user.link|safe }}:
                            Создал задачу
                        </li>
                    {% for hist in selected.history %}
                        <li>
                            {{ hist.created.strftime('%d.%m.%Y %H:%M') }}
                            {{ hist.user.link|safe }}:
                            {{ hist.text()|safe }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {# Создать подзадачу #}
            {% if membership.can('subtask', selected) %}
                <div id="task-subtask" class="tab-pane {% if not selected %} active {% endif %}">
                    {% if selected %}
                        {% set url = url_for('.task_subtask', project_id=project.id, parent_id=selected.id) %}
                    {% else %}
                        {% set url = url_for('.task_subtask', project_id=project.id) %}
                    {% endif %}
                    <form id="form-subtask" method="post" action="{{ url }}" class="form-horizontal">
                        <h2>Создать подзадачу</h2>
                        {% if project.has_sprints %}
                            <input type="hidden" name="sprint_id" value="{{ options.sprint.data }}">
                        {% endif %}
                        {% set edit_form = form_empty %}
                        {% set edit_task = empty %}
                        {% include 'projects/_task_edit.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span> Создать
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {# Редактор задачи #}
            {% if membership.can('edit', selected) %}
            <div id="task-edit" class="tab-pane">
                <form id="form-edit" method="post" action="{{ url_for('.task_edit', project_id=project.id, task_id=selected.id) }}" class="form-horizontal">
                    <h2>Редактировать задачу</h2>
                    {% set edit_form = form_edit %}
                    {% set edit_task = selected %}
                    {% include 'projects/_task_edit.html' %}

                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Сохранить
                            </button>
                            <button type="button" class="btn btn-danger" id="btn-task-delete">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </button>
                            <button type="button" class="btn btn-info" id="btn-chparent">
                                <span class="fa fa-share-alt"></span> Сменить надзадачу
                            </button>
                            <button type="button" class="btn btn-info" id="btn-swap">
                                <span class="fa fa-random"></span> Поменять местами
                            </button>

                            {% if project.has_sprints and selected.parent_id == None %}
                            <button type="button" class="btn btn-info" id="btn-sprint" data-toggle="modal" data-target="#modal-sprint">
                                <span class="fa fa-map"></span> В другой спринт
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </form>

                <form id="form-delete" method="post" action="{{ url_for('.task_delete', project_id=project.id, task_id=selected.id) }}"></form>

                <form id="form-chparent" method="post" action="{{ url_for('.task_chparent', project_id=project.id, task_id=selected.id) }}">
                    <h2>Переместить ветку</h2>
                    <p>
                        Выберите задачу, которая должна стать новым родителем выбранной задачи.
                    </p>
                    <input type="hidden" name="parent_id">
                    {% if selected.parent_id %}
                    <button type="button" class="btn btn-default" id="btn-chparent-root">
                        <span class="glyphicon glyphicon-hand-up"></span> В корень
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-warning" id="btn-chparent-cancel">
                        <span class="glyphicon glyphicon-remove"></span> Отмена
                    </button>
                </form>

                <form id="form-swap" method="post" action="{{ url_for('.task_swap', project_id=project.id, task_id=selected.id) }}">
                    <h2>Сортировка</h2>
                    <p>
                        Выберите задачу того же уровня, с которой нужно поменяться местами.
                    </p>
                    <input type="hidden" name="sister_id">
                    <button type="button" class="btn btn-warning" id="btn-swap-cancel">
                        <span class="glyphicon glyphicon-remove"></span> Отмена
                    </button>
                </form>

                {% if project.has_sprints %}
                <form id="form-sprint" method="post" action="{{ url_for('.task_sprint', project_id=project.id, task_id=selected.id) }}">
                            <div class="modal fade" id="modal-sprint" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Перенести ветку в другой спринт</h4>
                            </div>
                            <div class="modal-body">
                                <select name="sprint_id" class="form-control">
                                    {% for id, name in options.sprint.choices %}
                                    <option value="{{ id }}" {% if selected.sprint_id|default(0, true) == id %} selected {% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                <button type="submit" class="btn btn-primary">Ok</button>
                            </div>
                            </div></div></div>
                            </form>
                {% endif %}

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block tail %}
<script type="text/javascript" src="/static/tasks.js"></script>
<script type="text/javascript" src="/static/tasks_tree.js"></script>
{% endblock %}
