{% set menu_current = 'tasks' %}

{% extends 'project.html' %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/tasks_list.css">
<script type="text/javascript" src="/static/js.cookie.js"></script>
<script type="text/javascript" src="http://yastatic.net/jquery/form/3.14/jquery.form.min.js"></script>
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/html.sortable.min.js"></script>
<script type="text/javascript">
var current_user = {"id": {{ current_user.id}}, "name": "{{ current_user.name }}"};

var project = {"id": {{ project.id }}, "name": "{{ project.name }}"};

var Tasks = [
{% for task in tasks %}
    {{ task.json(membership, current_user)|safe }}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}
];

var IMPORTANCE = {
{%- for i in g.IMPORTANCE %}
    '{{ i.id }}': {{ i|safe }}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}
};

var CHARACTERS = {
{%- for id, ch in g.CHARACTERS.items() %}
    {{ id }}: {{ ch|safe }}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}
};
</script>
{% endblock %}



{% block content %}
<div class="container">
{#
 # Панель управления
 #}
<div class="row">
    <form method="get" id="form-options">
        <div class="row show-options">
            <div class="col-sm-2">
                <input type="hidden" name="task" value="{{ request.args.get('task', '') }}">
                {{ options.sort(class='form-control') }}
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-xs" id="btn-toggle-done"><i class="fa fa-eye"></i></button>
                <button type="button" class="btn btn-xs btn-success" id="btn-task-new" title="Добавить задачу"><i class="fa fa-sticky-note"></i></button>
            </div>
            <div class="col-sm-2">
                {% if project.has_sprints %}
                    {{ options.sprint(class='form-control', onchange='this.form.submit()') }}
                {% endif %}
            </div>
            <div class="col-sm-5">
                <div class="progress" id="progress-bar"></div>
            </div>
            <div class="col-sm-2 text-right max-deadline" title="Крайний срок">
                {% if stats['max_deadline'] %}
                    <i class="fa fa-bed"></i> {{ stats.max_deadline.strftime('%d.%m') }}
                {% else %}
                    Без дедлайна
                {% endif %}
            </div>
        </div>
    </form>
</div>
</div>

<div class="container tasks-containter">
{% if not tasks %}
    <div class="alert alert-box alert-info">
        {% if project.has_sprints %}Веха пуста{% else %}Проект пуст{% endif %}.
    </div>
{% else %}
    <ul class="tasks-list"></ul>
{% endif %}

</div>

<div class="modal" id="modal-edit"><div class="modal-dialog"><div class="modal-content">
<form method="post" class="form-horizontal" id="form-edit">
    {{ form_empty.csrf_token() }}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label col-sm-2">Создал</label>
            <div class="col-sm-4">
                <p class="form-control-static edit-owner"></p>
            </div>
            <label class="control-label col-sm-2">Статус</label>
            <div class="col-sm-4">
                <p class="form-control-static edit-status"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12"><input type="text" name="subject" class="form-control" placeholder="Задача"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea name="description" class="form-control" rows="8" placeholder="Детали (можно использовать markdown)"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Дедлайн</label>
            <div class="col-sm-4">
                <div class='input-group date'>
                    <input type="text" name="deadline" class="form-control" id="edit-deadline">
                    <span class="input-group-addon">
                        <span class="fa fa-remove" id="edit-deadline-clear"></span>
                    </span>
                </div>
                <a href="#" class="deadline-preset" data-deadline="today">сегодня</a>
                <a href="#" class="deadline-preset" data-deadline="tomorrow">завтра</a>
                <script type="text/javascript">
                    $('#edit-deadline').datetimepicker({
                        'sideBySide': true,
                        'showTodayButton': true,
                        'stepping': 10,
                        'locale': 'ru'
                    });
                    $('#edit-deadline-clear').click(function(e) { $('#edit-deadline').val(''); });
                </script>
            </div>

            <label class="control-label col-sm-2">Исполнитель</label>
            <div class="col-sm-4">
                <select name="assigned_id" class="form-control">
                    <option value="">Никто</option>
                    {% for member in project.members %}
                        <option value="{{ member.user_id }}">
                            {{ member.user.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Важность</label>
            <div class="col-sm-4">
                {{ form_empty.importance(class='form-control') }}
            </div>
            <label class="control-label col-sm-2">Характер</label>
            <div class="col-sm-4">
                {{ form_empty.character(class='form-control') }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger action-delete">Удалить</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
</div></div></div>



{% endblock %}

{#
            <div class="subj">
                {% if options.sort.data == 'custom' %}
                    <i class="fa fa-bars handle"></i>
                {% endif %}

                {% for status in task.allowed_statuses(current_user, membership) %}
                <button class="btn btn-xs" title="{{ status_btn_icons.get(status)[1] }}">
                    <i class="fa {{ status_btn_icons.get(status)[0] }}"></i>
                </button>
                {% endfor %}
            </div>

            <div class="description">{{ task.description|markdown|safe }}</div>
#}

{% block tail %}
<script type="text/javascript" src="/static/tasks.js"></script>
<script type="text/javascript" src="/static/tasks_list.js"></script>
<script type="text/javascript">
(function() {
{% if options.sort.data == 'custom' %}
    $ul.sortable({
        forcePlaceholderSize: true,
        handle: '.handle',
    }).bind('sortupdate', function(e, ui) {
        order = [];
        $('ul.tasks-list > li').each(function(i) {
            order.push($(this).data('id'));
        })
        $.post(location.pathname + 'reorder', {order: order.join(',')}, function(data) {
            if(data != 'ok') alert(data);
        });
    });
{% endif %}
})();
</script>
{% endblock %}
