{% set menu_current = 'tasks' %}

{% extends 'project.html' %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/tasks.css">
<script type="text/javascript" src="/static/js.cookie.js"></script>
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <!--- Левая колонка: дерево задач -->
    <div class="col-sm-6">
        {% if not tasks %}
            <div class="alert alert-box alert-info">Проект пуст.</div>
        {% else %}
            <div class="tasks-tree">
            {% set prev_depth = -1 %}
            {% for task in tasks %}
                {% if task.depth == prev_depth %}
                    {% if loop.index0 > 0 %} </li> {% endif %}
                {% elif task.depth > prev_depth %}
                    <ul>
                {% elif task.depth < prev_depth %}
                    {{ ('</li></ul>' * (prev_depth - task.depth)) | safe}}
                {% endif %}
                <li data-id="{{ task.id }}">
                    <div class="task {% if task.id == selected.id %} active {% endif %}">
                    <div class="deadline">
                        {# {% if task.deadline %}{{ task.deadline.strftime('%d.%m.%Y') }}{% endif %} #}
                        <span class="label label-{{ task.css_class }}">{{ task.status }}</span>
                    </div>

                    <div class="users narrow">
                        {% if task.assigned_id and task.user_id != task.assigned_id %}
                            &rarr; {{ task.assignee.link|safe }}
                        {% endif %}
                    </div>

                    <div class="subj">
                        <a href="?task={{ task.id }}">{{ task.subject }}</a>
                    </div>
                    </div>
                {% set prev_depth = task.depth %}
            {% endfor %}
            {{ ('</li></ul>' * tasks[-1].depth) | safe }}
            <p style="margin: 10px 0">
                <a href="?" class="btn btn-warning btn-xs">Поставить задачу в корень</a>
            </p>
            </div>
        {% endif %}
    </div>



    <div class="col-sm-6">
        <ul class="nav nav-tabs" id="tabs-task">
            {% if selected %}
                <li class="active"><a href="#task-details" data-toggle="tab">Задача</a></li>
                <li><a href="#task-history" data-toggle="tab">История</a></li>
            {% endif %}
            <li class="pull-right {% if not selected %} active {% endif %}"><a href="#task-subtask" data-toggle="tab">Создать подзадачу</a></li>
            {% if selected %}
                <li class="pull-right"><a href="#task-edit" data-toggle="tab">Редактировать</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <!-- Описание задачи -->
            {% if selected %}
            <div id="task-details" class="tab-pane active task-details">
                <h1>{{ selected.subject }}</h1>
                <p>
                    Поставлена {{ selected.created.strftime('%d.%m.%Y %H:%M') }}
                    {{ selected.user.link|safe }}
                    {% if selected.assigned_id %}
                        &rarr; {{ selected.assignee.link|safe }}
                    {% endif %}
                    <label class="label label-{{ selected.css_class }}">{{ selected.status }}</label>
                </p>
                <div class="description">
                    {{ selected.description|markdown|safe }}
                </div>

                <form id="form-setstatus"
                      method="post"
                      action="{{ url_for('.task_status', project_id=project.id, task_id=selected.id) }}">
                    <input type="hidden" name="status">
                    {% for status in selected.allowed_statuses(current_user, membership) %}
                        <button type="button" class="btn btn-default setter" data-status="{{ status }}">
                            {{ status }}
                        </button>
                    {% endfor %}
                </form>
            </div>

            <!-- История -->
            <div id="task-history" class="tab-pane">
                <h1>История задачи</h1>
                <ul>
                    <li>
                        {{ selected.created.strftime('%d.%m.%Y %H:%M') }}
                        {{ selected.user.link|safe }}:
                        Создал задачу
                    </li>
                {% for hist in selected.history %}
                    <li>
                        {{ hist.created.strftime('%d.%m.%Y %H:%M') }}
                        {{ hist.user.link|safe }}:
                        {{ hist.text()|safe }}
                    </li>
                {% endfor %}
                </ul>
            </div>

            {% endif %}

            <!-- Создать подзадачу -->
            <div id="task-subtask" class="tab-pane {% if not selected %} active {% endif %}">
                <h2>Создать подзадачу</h2>
                <form id="form-subtask" method="post" action="/projects/{{ project.id }}{% if selected %}/{{ selected.id }}{% endif %}/subtask" class="form-horizontal">
                    {% set edit_form = form_empty %}
                    {% set edit_task = empty %}
                    {% include 'projects/_task_edit.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Создать
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Редактор -->
            {% if selected %}
            <div id="task-edit" class="tab-pane">
                <form id="form-edit" method="post" action="/projects/{{ project.id }}/{{ selected.id }}/edit" class="form-horizontal">
                    <h2>Редактировать задачу</h2>
                    {% set edit_form = form_edit %}
                    {% set edit_task = selected %}
                    {% include 'projects/_task_edit.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-11">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Сохранить
                            </button>
                            <button type="button" class="btn btn-danger" id="btn-task-delete">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </button>
                            <button type="button" class="btn btn-info" id="btn-chparent">
                                <span class="glyphicon glyphicon-random"></span> Переместить
                            </button>
                        </div>
                    </div>
                </form>

                <form id="form-delete" method="post" action="/projects/{{ project.id }}/{{ selected.id }}/delete"></form>

                <form id="form-chparent" method="post" action="{{ url_for('.task_chparent', project_id=project.id, task_id=selected.id) }}">
                    <h2>Переместить ветку</h2>
                    <p>
                        Выберите задачу, которая должна стать новым родителем выбранной задачи.
                    </p>
                    <input type="hidden" name="parent_id">
                    {% if selected.parent_id %}
                    <button type="button" class="btn btn-default" id="btn-chparent-root">
                        <span class="glyphicon glyphicon-hand-up"></span> В корень
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-warning" id="btn-chparent-cancel">
                        <span class="glyphicon glyphicon-remove"></span> Отмена
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block tail %}
<script type="text/javascript" src="/static/tasks.js"></script>
{% endblock %}
