{% extends 'project.html' %}
{% from '_macros.html' import member_link %}

{% set menu_current = 'tasks' %}
{% if selected %}
    {% set page_title = selected.subject + ' @ ' + project.name %}
{% else %}
    {% set page_title = project.name %}
{% endif %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/static/tasks_tree.css?3">
<script type="text/javascript" src="/static/js.cookie.js"></script>
<script type="text/javascript" src="/static/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    var current_user = {"id": {{ current_user.id or None }}, "name": "{{ current_user.name or '' }}"};
    var project = {"id": {{ project.id }}, "name": "{{ project.name }}"};
</script>
{% endblock %}

{% block content %}

{% if project.has_sprints %}
<ul class="nav nav-tabs" style="margin-bottom: 10px">
    <li {% if options.sprint.data == 0 %} class="active" {% endif %}>
        <a href="?sprint=0">*</a>
    </li>
    {% for sprint in project.sprints %}
        <li {% if sprint.id == options.sprint.data %} class="active" {% endif %}>
            <a href="?sprint={{ sprint.id }}">{{ sprint.name }}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    {#
     # Панель дерева задач
     #}
    <div class="col-sm-6">
        <form method="get">
        <div class="row show-options">
            <div class="col-sm-2">
                <button type="button" class="btn btn-xs" id="btn-toggle-collapsed" title="Свернуть/развернуть всё"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-xs" id="btn-toggle-done"><i class="fa fa-eye"></i></button>
            </div>
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2 text-right max-deadline" title="Крайний срок">
            </div>
        </div>
        </form>

        {% if not tasks %}
            <div class="alert alert-box alert-info">
                {% if project.has_sprints %}
                    Доска пуста. Посмотрите в других досках:
                    <ul>
                        {% for sprint in project.sprints %}
                        <li>
                            <a href="{{ url_for('.tasks', project_id=project.id, sprint=sprint.id) }}">{{ sprint.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    В проекте нет задач.
                {% endif %}
            </div>
        {% else %}
            {%- macro _task_li_class(task) -%}
                {%- if task.status -%}
                    li-{{ task.status }}
                {%- elif task.children_statuses.get('complete') == 100 %}
                    li-done li-100
                {%- endif -%}
            {%- endmacro -%}

            {% macro _task_container_class(task, selected) -%}
                task
                {%- if task.id == selected.id %} active {% endif %}
                {%- if current_user.is_authenticated and task.assigned_id == current_user.id %} my {% endif %}
            {%- endmacro -%}

            {% macro _task_comments_icon(task, seen) %}
                {% if not current_user.is_authenticated %}
                    {% set new = 0 %}
                {% else %}
                    {% set new = task.cnt_comments - seen.get(task.id, {'cnt_comments': 0}).cnt_comments %}
                {% endif %}
                <span class="cnt-comments">
                    {% if new %}
                        <i class="fa fa-comment new"></i>
                        {% if task.cnt_comments - new %}
                            {{ task.cnt_comments - new -}}
                        {%- endif -%}
                        +{{- new }}
                    {% else %}
                        <i class="fa fa-comment"></i>
                        {{ task.cnt_comments }}
                    {% endif %}
                </span>
            {% endmacro %}

            <div class="tasks-tree show-deadline">
            {% for task in tasks %}
                {% if loop.index0 == 0 %}
                    {% set prev_depth = -1 %}
                {% else %}
                    {% set prev_depth = tasks[loop.index0 - 1].depth %}
                {% endif %}

                {% if task.depth == prev_depth %}
                    {% if loop.index0 > 0 %} </li> {% endif %}
                {% elif task.depth > prev_depth %}
                    {{ ('<ul>' * (task.depth - prev_depth)) | safe }}
                {% elif task.depth < prev_depth %}
                    {{ ('</li></ul>' * (prev_depth - task.depth)) | safe }}
                {% endif %}

                <li data-id="{{ task.id }}" class="{{ _task_li_class(task) }}">
                    <div class="{{ _task_container_class(task, selected) }}">
                        <div class="subj">
                            {{ task.character|character_icon|safe }}
                            <a href="{{ url_for('.tasks', project_id=project.id, task=task.id, sprint=task.sprint_id) }}">{{ task.subject }}</a>

                            {% if request.args.get('debug-mp') %}<small>{{ task.mp }}</small>{% endif %}

                            <span class="meta">
                                {% if task.estimate %}
                                    <span class="estimate">{{ task.estimate }}d</span>
                                {% endif %}

                                {{ task.importance|importance_icon|safe }}

                                {% if task.cnt_bugs %}
                                    <span class="cnt-bugs">
                                        <i class="fa fa-bug"></i> {{ task.cnt_bugs }}
                                    </span>
                                {% endif %}

                                {% if task.cnt_comments %}
                                    {{ _task_comments_icon(task, seen) }}
                                {% endif %}

                                {% for tag in task.tags %}
                                    <span class="label label-tag">#{{ tag.name }}</span>
                                {% endfor %}
                            </span>
                        </div>

                        <div class="deadline {% if task.deadline and task.status in ('open', 'progress', 'pause') and task.deadline < g.now %} late {% endif %}">
                            {%- if task.deadline %}{{ task.deadline.strftime('%d.%m') }}{%- endif %}
                        </div>

                        <div class="users">
                            {% if task.assigned_id %}
                                <a href="{{ url_for('.member', project_id=project.id, member_id=task.assigned_id) }}" class="user">{{ task.assignee.name }}</a>
                            {% endif %}
                        </div>

                        <div class="status">
                            {% if request.args.get('debug-status') %}
                                <small>{{ task.status }}</small>
                            {% else %}
                                {% if task.children_statuses %}
                                    <small>{{ task.children_statuses['ready'] }}%</small>
                                {% else %}
                                    {{ task.status|status_label }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
            {% endfor %}
            {{ ('</li></ul>' * (tasks[-1].depth + 1)) | safe }}
        </div>
        {% endif %}

        {% if membership.can('project.task-level-0') %}
            <p style="margin: 10px 0">
                <a href="?sprint={{ options.sprint.data }}" class="btn btn-warning">Поставить задачу в корень</a>
            </p>
        {% endif %}
    </div>



    {#
     # Панель задачи
     #}
    <div class="col-sm-6">

        {# Табы #}
        <ul class="nav nav-tabs" id="tabs-task">
            {% if selected %}
                <li class="active"><a href="#task-details" data-toggle="tab">Задача</a></li>
                <li><a href="#task-comments" data-toggle="tab">
                    Комментарии
                    {% if selected.cnt_comments %}({{ selected.cnt_comments }}){% endif %}
                </a></li>
                <li><a href="#task-history" data-toggle="tab">История</a></li>
                <li>
                    <a href="#task-bugs" data-toggle="tab">
                        Баги
                        {% if selected.cnt_bugs %}({{ selected.cnt_bugs }}){% endif %}
                    </a></li>
            {% endif %}
            {% if selected and membership.can('task.subtask', selected) or not selected and membership.can('project.task-level-0') %}
                <li class="pull-right {% if not selected %} active {% endif %}"><a href="#task-subtask" data-toggle="tab">Создать подзадачу</a></li>
            {% endif %}
            {% if selected and membership.can('task.edit', selected) %}
                <li class="pull-right"><a href="#task-edit" data-toggle="tab">Редактировать</a></li>
            {% endif %}
        </ul>


        <div class="tab-content">
            {% if selected %}
                {# Описание задачи #}
                <div id="task-details" class="tab-pane active task-details">
                    <h1>{{ selected.subject }}</h1>
                    {% for tag in selected.tags %}
                        <span class="label label-tag">#{{ tag.name }}</span>
                    {% endfor %}
                    <div class="meta">
                        Поставлена {{ selected.created.strftime('%d.%m.%Y %H:%M') }}
                        {{ member_link(project, selected.user) }}
                        {% if selected.assigned_id %}
                            &rarr; {{ member_link(project, selected.assignee) }}
                        {% endif %}
                        {{ selected.status|status_label }}
                        {% if selected.deadline %}
                            <p>
                                Дедлайн:
                                {% if selected.status in ('open', 'progress', 'pause') and selected.deadline <= g.now %}<span class="deadline late">{% endif %}
                                    {{ selected.deadline.strftime('%d.%m.%Y %H:%M') }}
                                {% if selected.status in ('open', 'progress', 'pause') and selected.deadline <= g.now %}</span>{% endif %}
                            </p>
                        {% endif %}
                    </div>

                    <div class="description">
                        {{ selected.description|markdown|safe }}
                    </div>
                    {% if selected.image %}
                        <div class="image">
                            <img src="{{ selected.image.url }}" width="{{ selected.image.width }}" height="{{ selected.image.height }}">
                        </div>
                    {% endif %}

                    {% if membership.can('task.set-status', selected) %}
                    <form id="form-setstatus" method="post" action="{{ url_for('.task_status', project_id=project.id, task_id=selected.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="status">
                        <p>
                        {% set allowed_statuses = selected.allowed_statuses(current_user, membership) %}
                        {% for status in allowed_statuses %}
                            {% if loop.index0 == 0 %}
                                {% set prev_phase = '' %}
                            {% else %}
                                {% set prev_phase = allowed_statuses[loop.index0 - 1].split('.')[0] %}
                            {% endif %}

                            {% if status.split('.')[0] != prev_phase %}
                                </p><p>
                            {% endif %}
                            <button type="button" class="btn {{ status|status_class }} setter" data-status="{{ status }}" title="Задача получит статус «{{ status }}»">
                                {{ status|status_button_text(selected) }}
                            </button>
                        {% endfor %}
                        </p>
                    </form>
                    {% endif %}
                </div>

                {# Комментарии #}
                <div id="task-comments" class="tab-pane task-comments"
                     data-url="{{ url_for('.task_comments', project_id=project.id, task_id=selected.id) }}">
                </div>

                {# История #}
                <div id="task-history" class="tab-pane task-history"
                    data-url="{{ url_for('.task_history', project_id=project.id, task_id=selected.id) }}">
                </div>

                {# Баги #}
                <div id="task-bugs" class="tab-pane task-bugs"
                     data-url="{{ url_for('.task_bugs', project_id=project.id, task_id=selected.id) }}">
                </div>
            {% endif %}

            {# Создать подзадачу #}
            {% if selected and membership.can('task.subtask', selected) or not selected and membership.can('project.task-level-0') %}
                <div id="task-subtask" class="tab-pane {% if not selected %} active {% endif %}">
                    {% if selected %}
                        {% set url = url_for('.task_subtask', project_id=project.id, parent_id=selected.id) %}
                    {% else %}
                        {% set url = url_for('.task_subtask', project_id=project.id) %}
                    {% endif %}
                    <form id="form-subtask" method="post" action="{{ url }}" class="form-horizontal" enctype="multipart/form-data">
                        <h2>Создать подзадачу</h2>
                        {% if project.has_sprints %}
                            <input type="hidden" name="sprint_id" value="{{ options.sprint.data }}">
                        {% endif %}
                        {% set edit_form = form_empty %}
                        {% set edit_task = empty %}
                        {% include 'projects/_task_edit.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <button type="submit" class="btn btn-success">
                                    <span class="fa fa-check"></span> Создать
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            {# Редактор задачи #}
            {% if selected and membership.can('task.edit', selected) %}
                <div id="task-edit" class="tab-pane">
                    <form id="form-edit" method="post" action="{{ url_for('.task_edit', project_id=project.id, task_id=selected.id) }}" class="form-horizontal" enctype="multipart/form-data">
                        <h2>Редактировать задачу</h2>
                        {% set edit_form = form_edit %}
                        {% set edit_task = selected %}
                        {% include 'projects/_task_edit.html' %}

                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Сохранить</button>
                                <button type="button" class="btn btn-danger" id="btn-task-delete"><i class="fa fa-remove"></i> Удалить</button>
                                {% if membership.can('task.chparent', selected) %}
                                    <button type="button" class="btn btn-info" id="btn-chparent"><i class="fa fa-share-alt"></i> Сменить надзадачу</button>
                                {% endif %}
                                {% if membership.can('task.swap', selected) %}
                                    <button type="button" class="btn btn-info" id="btn-swap"><i class="fa fa-random"></i> Поменять местами</button>
                                {% endif %}
                                {% if membership.can('task.sprint', selected) %}
                                    <button type="button" class="btn btn-info" id="btn-sprint" data-toggle="modal" data-target="#modal-sprint"><i class="fa fa-map"></i> На другую доску</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>

                    <form id="form-delete" method="post" action="{{ url_for('.task_delete', project_id=project.id, task_id=selected.id) }}"></form>

                    {% if membership.can('task.chparent', selected) %}
                        <form id="form-chparent" method="post" action="{{ url_for('.task_chparent', project_id=project.id, task_id=selected.id) }}">
                        <h2>Переместить ветку</h2>
                        <p>
                            Выберите задачу, которая должна стать новым родителем выбранной задачи.
                        </p>
                        <input type="hidden" name="parent_id">
                        {% if selected.parent_id %}
                        <button type="button" class="btn btn-default" id="btn-chparent-root">
                            <span class="fa fa-hand-o-up"></span> В корень
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-warning" id="btn-chparent-cancel">
                            <span class="fa fa-remove"></span> Отмена
                        </button>
                    </form>
                    {% endif %}

                    {% if membership.can('task.swap', selected) %}
                        <form id="form-swap" method="post" action="{{ url_for('.task_swap', project_id=project.id, task_id=selected.id) }}">
                        <h2>Сортировка</h2>
                        <p>
                            Выберите задачу того же уровня, с которой нужно поменяться местами.
                        </p>
                        <input type="hidden" name="sister_id">
                        <button type="button" class="btn btn-warning" id="btn-swap-cancel">
                            <span class="fa fa-remove"></span> Отмена
                        </button>
                    </form>
                    {% endif %}

                    {% if membership.can('task.sprint', selected) %}
                        <form id="form-sprint" method="post" action="{{ url_for('.task_sprint', project_id=project.id, task_id=selected.id) }}">

                        <div class="modal fade" id="modal-sprint" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Перенести ветку в другую доску</h4>
                        </div>
                        <div class="modal-body">
                            {% for sprint in project.sprints %}
                                <button type="button" data-id="{{ sprint.id }}"
                                        class="btn act-select-sprint {% if selected.sprint_id == sprint.id %} btn-primary {% else %}btn-default {% endif %}"
                                >{{ sprint.name }}</button>
                            {% endfor %}

                            <input type="hidden" name="sprint_id" value="{{ selected.sprint_id }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary">Ok</button>
                        </div>
                        </div></div></div>
                    </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block tail %}
<script type="text/javascript" src="/static/tasks.js"></script>
<script type="text/javascript" src="/static/tasks_tree.js?4"></script>
<script type="text/javascript" src="/static/plugins/wtfc/tree.js"></script>
{% endblock %}
