body { padding-top: 70px; }
h1 { margin-top: 5px; }

a { text-decoration: underline; }
nav a, a.btn { text-decoration: none; }

a.user { color: #57aa6f; text-decoration: underline; }
/*
a.user:before {
    content:''; display: inline-block;
    border-radius: 10px; margin: 0 3px 1px 0;
    width: 7px; height: 7px; background-color: #4b954b;
}
*/

.importance { font-weight: bold; color: #fff; padding: 0 3px; border-radius: 3px; }
.important-2 { background-color: #f00; }
.important-1 { background-color: #D25858; }
.important--1 { background-color: #58d258; }
.important--2 { background-color: #AEEDBB; }
