body { padding-top: 70px; padding-bottom: 20px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; }
h1 { margin-top: 5px; }

a { text-decoration: underline; color: #337ab7; }
nav a, a.btn { text-decoration: none; }

a.user { color: #57aa6f; text-decoration: underline; }
/*
a.user:before {
    content:''; display: inline-block;
    border-radius: 10px; margin: 0 3px 1px 0;
    width: 7px; height: 7px; background-color: #4b954b;
}
*/

.importance { font-weight: bold; color: #fff; padding: 0 3px; border-radius: 3px; }
.important-2 { background-color: #f00; }
.important-1 { background-color: #D25858; }
.important--1 { background-color: #58d258; }
.important--2 { background-color: #AEEDBB; }

/* юзается где-нибудь? */
.status-open { background-color: #5bc0de; }
.status-progress { background-color: #5cb85c; }
.status-pause { background-color: #f0ad4e; }
.status-review { background-color: #AA4FAD; color: #ff0; }
.status-tested { background-color: #2982bc; color: #fff; }
.status-done { background-color: #888; }
.status-canceled { background-color: #333; color: #fff; }
.status-canceled:hover { color: #fff; }

.label-tag { background-color: #8983ff; }

.bug-open { background-color: #5bc0de; }
.bug-progress { background-color: #5cb85c; }
.bug-pause { background-color: #f0ad4e; }
.bug-test { background-color: #AA4FAD; color: #ff0; }
.bug-fixed { background-color: #888; }
.bug-canceled { background-color: #333; color: #fff; }
.bug-canceled:hover { color: #fff; }

/* .icon-character { margin-left: -19px; } */

.wait-stub { text-align: center; margin: 50px 0; font-size: 3em; }

@keyframes blink {
    from { opacity: 1; }
    to { opacity: .3; }
}

.cnt-comments { font-size: 0.8em; }
.cnt-comments i.new { color: #0d9104; font-size: 1.2em; animation: blink .5s infinite ease alternate; }

.cnt-bugs { font-size: 0.8em; background: red; padding: 2px; margin: 0px 2px; color: #ff0; }

.task-comments ul.comments { list-style: none; padding: 0; margin: 0; }
.task-comments ul.comments > li { margin: 10px 0 20px; }
.task-comments ul.comments > li > .body { padding: 5px 5px 0; }
.task-comments ul.comments > li > .image { margin-bottom: 5px; }
.task-comments ul.comments > li > .image img { max-width: 100%; height: auto; }
.task-comments ul.comments > li > .meta { padding: 2px 5px; font-size: 0.8em; background: #eee; border-bottom: 1px solid #bbb; }
.task-comments ul.comments > li > .meta .action-edit { display: inline-block; float: right; }
.task-comments ul.comments > li.new { background-color: #BFF1C2; }
.task-comments ul.comments > li.new > .meta { background-color: #99CE9C; }
.task-comments ul.comments > li.new > .meta:after {
    content: 'NEW!'; font-size: 9px; font-weight: bold;
    display: block; float: right; padding: 1px 3px;
    border-radius: 4px;
    background-color: #ff0; color: #f00;
}

.table-list {}
.table-list td, .table-list th { white-space: nowrap; }
.table-list td.t, .table-list th.t { width: 100%; white-space: normal; }
.table-list td.w, .table-list th.w { white-space: normal; }
.table-list tr.status-hidden { background-color: #eee; text-decoration: line-through; }
.table-list tr.hl { background-color: #ffa; }
.table-list tr.placeholder { background-color: #999; }
.table-list tr.placeholder td { height: 1em; }

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.menu-projects { padding-top: 0; font-size: 14px;}
ul.menu-projects li.folder { font-weight: bold; padding: 3px 20px 3px 6px; background: #eee; margin-top: 10px; }
ul.menu-projects li.folder:first-child { margin-top: 0px; }

/* Баги */
ul.bugs { list-style: none; margin: 0; padding: 0; }
ul.bugs > li { margin: 10px 0; border-bottom: 1px solid #bbb; }
ul.bugs > li > h2 { margin-top: 10px; }
ul.bugs > li > .meta { font-size: 0.8em; margin: 10px 0; }
ul.bugs > li > .description { margin: 10px 0; }
ul.bugs > li > .actions { margin: 10px 0; }
ul.bugs > li > .actions .btn-bug-status-open { background-color: #5bc0de }
ul.bugs > li > .actions .btn-bug-status-progress { background-color: #5cb85c }
ul.bugs > li > .actions .btn-bug-status-pause { background-color: #f0ad4e }
ul.bugs > li > .actions .btn-bug-status-test { background-color: #AA4FAD; color: #ff0; }
ul.bugs > li > .actions .btn-bug-status-fixed { background-color: #888 }
ul.bugs > li > .actions .btn-bug-status-canceled { background-color: #333; color: #fff; }
ul.bugs > li > .actions .btn-bug-status-canceled:hover { color: #fff; }



.status-planning { background-color: #b3d2de; }
.status-open { background-color: #5bc0de; }
.status-progress { background-color: #5cb85c; }
.status-pause { background-color: #f0ad4e; }
.status-review { background-color: #AA4FAD; color: #ff0; }
.status-complete { background-color: #888; }
.status-canceled { background-color: #333; color: #fff; }
.status-canceled:hover { color: #fff; }

label.label-status {
    display: inline-block;
    padding: .2em .6em .3em;
    width: 66px;
    height: 18px;
    font-size: 75%;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 0;
}
label.label-status i.fa-pause, label.label-status i.fa-check { float: right! important; margin-top: 2px; }
label.label-status i.fa-pause { animation: blink .5s infinite ease alternate; }

label.status-design_open { border: 1px solid #5CC0DE; color: #5CC0DE; }
label.status-design_progress { background-color: #5CC0DE; color: white; }
label.status-design_pause { background-color: #5CC0DE; color: white; }

label.status-dev_open { border: 1px solid #2882BB; color: #2882BB; }
label.status-dev_progress { background-color: #2882BB; color: white; }
label.status-dev_pause { background-color: #2882BB; color: white; }

label.status-qa_open { border: 1px solid #EEAC4D; color: #EEAC4D; }
label.status-qa_progress { background-color: #EEAC4D; color: white; }
label.status-qa_pause { background-color: #EEAC4D; color: white; }
label.status-qa_done { background-color: #EEAC4D; color: white; }

label.status-review_open { border: 1px solid #A950AB; color: #A950AB; }
label.status-review_progress { background-color: #A950AB; color: white; }
label.status-review_pause { background-color: #A950AB; color: white; }
label.status-review_done { background-color: #A950AB; color: white; }

label.status-debug_open { border: 1px solid #2882BB; color: #2882BB; }
label.status-debug_progress { background-color: #2882BB; color: white; }
label.status-debug_pause { background-color: #2882BB; color: white; }

label.status-release_open { border: 1px solid #5DB55C; color: #5DB55C; }
label.status-release_progress { background-color: #5DB55C; color: white; }
label.status-release_pause { background-color: #5DB55C; color: white; }

label.status-complete { background-color: #BAE0BA; color: white; }
label.status-canceled { background-color: #CED1D6; color: white; }



.phase-design { background-color: #5CC0DE; color: white; }
.phase-dev { background-color: #2882BB; color: white; }
.phase-qa { background-color: #EEAC4D; color: white; }
.phase-review { background-color: #A950AB; color: white; }
.phase-debug { background-color: #2882BB; color: white; }
.phase-release { background-color: #5DB55C; color: white; }

.phase-complete { background-color: #BAE0BA; }
.phase-canceled { background-color: #CED1D6; }

.state-open { }
.state-progress { }
.state-pause { }
.state-done { }
