.show-options {}
.show-options select { padding: 2px 0px; font-size: 10px; line-height: 1; height: 22px; }
.show-options .max-deadline { font-size: 12px; }

.toggler {
    display: block; width: 9px; height: 9px; background: url('/static/plusminus.png');
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li.collapsed .toggler { background-position: 0px -9px; }
li.collapsed > ul { display: none; }
.tasks-tree .toggler { position: absolute; top: 11px; left: -12px; }

.tasks-tree {}
.tasks-tree ul { list-style:none; margin: 0; padding-left: 20px; }
.tasks-tree ul:first-child { padding-left: 10px; }
.tasks-tree ul li {  margin: 0; padding: 0; position: relative; }

.tasks-tree ul.hide-done li.li-done,
.tasks-tree ul.hide-done li.li-canceled { display: none; }

.tasks-tree > ul > li > .task .subj a { color: #516D86; font-weight: bold; }
.tasks-tree > ul > li:first-child > .task { border-top: none; }

.tasks-tree .task { border-bottom: 1px dotted #ccc; clear: both; display: table; }
.tasks-tree .task.active { background-color: #ffe47d; }
.tasks-tree .task:hover { background-color: #ffefb1; }

.tasks-tree .task .subj, .tasks-tree .task .users, .tasks-tree .task .deadline, .tasks-tree .task .status {
    display: table-cell; padding: 4px 4px;
    border-right: 1px dotted #eee;
}

.tasks-tree .task .subj { width: 100%; }
.tasks-tree .task .subj .meta { float: right; }
.tasks-tree .task .subj .meta .estimate { color: #777; font-style: italic; display: inline-block; }

.tasks-tree .task .users { max-width: 120px; min-width: 120px; overflow: hidden; white-space: nowrap; font-size: .8em;}
.tasks-tree .task.my .users a.user { font-weight: bold; color: #3d8c2d; }

.tasks-tree .task .deadline { max-width: 40px; min-width: 40px; text-align: right; overflow: hidden; white-space: nowrap; }
.tasks-tree .task .deadline:after { content:'.'; visibility: hidden; font-size:1px; }

.tasks-tree .task .status { max-width: 73px; min-width: 73px; padding-right: 0; border-right: none; text-align: right; }

.tasks-tree .li-100 .status { color: #090; }

.deadline.late { color: #f00; }

.task-details .description { margin: 20px 0}
.task-details .description table { border-spacing: 0; border-collapse: collapse; margin-bottom: 10px; }
.task-details .description table td, .task-details .description table th { padding: 5px; border: 1px solid #ccc; vertical-align: top; }
.task-details .description table th { background: #464f6d; color: #f9f990; }
.task-details .description h1, .task-details .description h2, .task-details .description h3, .task-details .description h4, .task-details .description h5 {
    border-bottom: 1px solid #ddd;
}

.task-details .image img { max-width: 100%; height: auto; margin-bottom: 10px; }

/*
глупо выглядит, если нет кнопок
#form-setstatus { border: 1px solid #777; background: #f0f0f0; padding: 10px; border-radius: 10px; text-align: center;}
*/

#form-chparent, #form-swap { display: none; }

.task-history .dt { color: #666; font-size: .9em;}
