.show-options {}
.show-options select { padding: 2px 0px; font-size: 10px; line-height: 1; height: 22px; }
.show-options .max-deadline { font-size: 12px; }

.toggler {
    display: block; width: 9px; height: 9px; background: url('/static/plusminus.png');
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
li.collapsed .toggler { background-position: 0px -9px; }
li.collapsed > ul { display: none; }
.tasks-tree .toggler { position: absolute; top: 11px; left: -12px; }

.tasks-tree {}
.tasks-tree ul { list-style:none; margin: 0; padding-left: 20px; }
.tasks-tree ul:first-child { padding-left: 10px; }
.tasks-tree ul li {  margin: 0; padding: 0; position: relative; }
.tasks-tree .task { padding: 4px 0; border-bottom: 1px dotted #ccc; clear: both; }
.tasks-tree .task.active { background-color: #ffefb1; }
.tasks-tree .task:hover { background-color: #eee; }

.tasks-tree .task .subj { }

.tasks-tree .task .handle { font-size: 9px; opacity: .5; }
.tasks-tree .task .handle:hover { opacity: 1; }

.tasks-tree .task .users { float: right; width: 150px; overflow: hidden; white-space: nowrap; }
.tasks-tree .task.my .users a.user { font-weight: bold; color: #3d8c2d; }

.tasks-tree .task .status { float: right; width: 68px; text-align: right; }

.tasks-tree .task .deadline { float:right; width: 40px; text-align: right; overflow: hidden; white-space: nowrap;}
.tasks-tree .task .deadline:after {content:'.'; visibility: hidden; font-size:1px;}


.deadline.late { color: #f00; }

.task-details .description { margin: 20px 0}

#form-chparent, #form-swap { display: none; }


