{% extends 'projects/edit/base.html' %}

{% block h1 %}
    <h1>Описание проекта</h1>
{% endblock %}

{% block content %}
{{ super() }}

<form method="post" action="{{ url_for('.project_edit', project_id=project.id) }}">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label class="form-label">Название проекта:</label>
        {{ form.name(class='form-control') }}
    </div>
    <div class="mb-3">
        <label class="form-label">Вступительное слово (показывается на странице «<a href="{{ purl_for('.about') }}">О проекте</a>»):</label>
        {{ form.intro(class='form-control', rows=12) }}
        <div class="form-text">Здесь можно использовать Markdown.</div>
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Сохранить</button>
    <a href="#modal-delete" data-bs-toggle="modal" class="btn btn-danger"><i class="fa fa-remove"></i> Удалить</a>
</form>

<form method="post" action="{{ url_for('.project_delete', project_id=project.id) }}">
    <div class="modal" id="modal-delete" tabindex="-1"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Серьёзно?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        Удалить проект? Назад дороги не будет.
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Да</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
    </div>
    </div></div></div>
</form>

{% endblock %}

